.element__like {
    background-image: url(../../../images/heart.svg);
    width:22px;
    height:19px;
    border: 0;
    align-self: center;
    margin-left: 30px;
    background-color: transparent;
    
}