.element__words {
    margin: 25px 15px 31px;
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    width:246px;
}

@media screen and (max-width:680px) {
    .element__words {
        margin-left: 21px;
    }
    
}